@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f5f7fb;
  overflow-x: hidden;
  font-size: 16px;
}

.first-block {
  position: fixed;
  width: 500px;
  height: 305px;
  right: -150px;
  top: -50px;
  transform: rotate(-128.49deg);
  background-color: #fffad1;
  border-radius: 100px;
}

.second-block {
  position: fixed;
  width: 400px;
  height: 400px;
  left: -150px;
  bottom: -150px;
  background-color: #deebf8;
  border-radius: 100px;
}

.start-container {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  min-width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.start-container h1 {
  margin-bottom: 40px;
}

.start-button {
  cursor: pointer;
  width: 200px;
  padding: 20px;
  background: #4d5b9e;
  color: #fff;
  border: none;
  border-radius: 15px;
  font-size: 18px;
}

.difficulty {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.difficulty-option {
  cursor: pointer;
  border: 1px solid #293264;
  border-radius: 10px;
  text-align: center;
  padding: 4px 8px;
}

.quiz-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  z-index: 100;
}

.quiz-container h2 {
  z-index: 100;
}
